.done {
	text-decoration: line-through;
	opacity: .5;
}

body {
	text-align: center;
	font-family:
	background: url(http://cliparts.co/cliparts/ATb/Kqp/ATbKqp8Rc.jpg); 

}

#lists {
	background-image: 
}

ul {
	list-style-type: none;
	text-align: center;
}